<div class="header-search">
  <span nz-icon nzType="search"></span>
  <input nz-input type="text" placeholder="Search cases, customers, tasks..." />
  <kbd>Ctrl K</kbd>
</div>

<div class="header-actions">
  <button nz-button nzType="text" class="icon-button" type="button">
    <nz-badge [nzCount]="3" [nzOffset]="[-4, 4]">
      <span nz-icon nzType="bell"></span>
    </nz-badge>
  </button>

  <button
    nz-button
    nz-dropdown
    [nzDropdownMenu]="userMenu"
    nzTrigger="click"
    class="user-button"
    type="button"
  >
    <nz-avatar nzIcon="user" nzSrc="https://i.pravatar.cc/80?img=12" />

    <span class="user-info">
      <strong>John Doe</strong>
      <small>Support Manager</small>
    </span>

    <span nz-icon nzType="down"></span>
  </button>

  <nz-dropdown-menu #userMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>Profile</li>
      <li nz-menu-item>Preferences</li>
      <li nz-menu-divider></li>
      <li nz-menu-item>Logout</li>
    </ul>
  </nz-dropdown-menu>
</div>
