/* You can add global styles to this file, and also import other style files */
@use './styles/variables';

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--fd-bg);
  color: var(--fd-text);
}
