/* You can add global styles to this file, and also import other style files */
@use './styles/variables';
@use './styles/components/data-table';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background: var(--fd-bg);
  color: var(--fd-text);
}

* {
  box-sizing: border-box;
}
