:host {
  display: block;
  height: 100%;
  min-height: 0;
}

.cases-page {
  display: flex;
  height: 100%;
  min-height: 0;
  flex-direction: column;
  gap: 24px;
}

.cases-table-wrapper {
  display: flex;
  min-height: 0;
  flex: 1;
}
